@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

:root {
  --primary-color: #dc143c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-top: 3em;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.container__title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.8em;
}

#delete {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 .5em;
}

#deleteAllLabel::before {
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + #deleteAllLabel::before {
  content: "\2713";
  color: var(--primary-color);
  background-color: #fff;
}

.addTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  padding: 0 .5em;
  margin-top: 0.5em;
  margin-bottom: 3em;
  background-color: rgba(255, 255, 255, 0.2);
}

.addTask > input {
  width: 90%;
  height: 100%;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background-color: transparent;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

button > img {
  width: 55%;
  height: 55%;
  object-fit: cover;
  -webkit-tap-highlight-color: transparent;
}

.task {
  width: 90%;
}

.task > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 0 0.8em;
  color: #000;
  margin-bottom: 0.2em;
  background-color: #fff;
}

input[type="checkbox"] {
  display: none;
}

label {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2px;
  height: 2px;
  padding: 0.5em;
  border: 1px solid #1c1c1c;
  margin-right: 5px;
  font-size: 0.6rem;
  color: #fff;
  font-weight: 600;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  background-color: var(--primary-color);
}

.task > div > img,
#delete > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.info {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 0.8em;
}

@media (min-width: 650px) {
  #delete,
  .addTask,
  .task,
  .info {
    width: 80%;
  }
  .addTask {
    height: 60px;
  }

  .task > div {
    height: 65px;
  }
}
